body {
    background: #99EE33;
    padding: 25px;
    }

    .firstLab{
        font-size: 12px;
    }

    .secondLab{
        color:red;
    }

    .thirdLab{
        color:hotpink;
    }

    p{
        font-size: large;
        font-weight: bold;
    }

    h1{
        font-size: x-large;
    }

    li{
        text-decoration: underline;
    }

    .linkFonts{
        font-family: Arial, Helvetica, sans-serif;
    }

    .textFonts{
        font-family:'Courier New', Courier, monospace;
    }

    .border{
        border: dashed blue 3px;
    }